@page "/Curriculo Leisaluz"

<PageTitle>Curriculo Leisaluz</PageTitle>
<h3> Leisaluz da Silva Assumpção </h3>

<div class="principal">

<div class= "Contato">
    <p>
        Contato
        <br />
        * Moro atualmente: Ji Paraná Rondônia Brasil
        <br />
        * Número para contato: 69984234625
        <br />
        * Email:<a>leisaluzestudo@gmail.com </a>
        <br />
    </p>
</div>
    

<div class="SobreMim">
    <p>
        Sobre mim
        <br />
        Sou acadêmica Leisaluz da Silva tenho um curso Técnico
        em Informática do Instituto Fedreal de Rondônia, tenho 17 anos.
    </p>
</div>
    
<div class="Educacao">

    <p>
        Educação
        <br />
        * Curso de Informática Avançada (2022- 2025)
        <br />
        * Curso Mídias Digitais Básico (2025)
        <br />
        * Curso Atendimento ao púlico (2025)
        <br />
    </p>
</div>
   
<div class="Experiencia">
    <p>
        Experiência
        <br />
        * Experiência com vendedora (2022)
        <br />
        * Experiência com equipes
        <br />
        * Experiência com monitoria d
        <br />
    </p>

</div>


</div>

 
 

@code {

}
