@page "/Sobre Leisaluz"

<PageTitle>Sobre Leisa </PageTitle>

<h1>* Sobre Leisaluz *</h1>


<div class="PrincipalSobre"> 
<p>
    Nascimento
    <br/>
    Eu nasci a 17 anos atrás, no dia 10 de fevereiro de 2008. Em Rio Branco no Acre, cresci em uma pequena Vila com poucos habitantes das inumeras
    coisas que aprendi uma das que eu mais gostei que meus pais Joviano e Marizete sempre me ensinaram a ser independente, assim como eles diziam 
    "O mundo é dos que se adapatam mais rapído". Com 8 anos me mudei para Rondônia, lá eu vivi os últimos anos da minha infancia e um pouco da minha adolecência.
   </p>


<p>
    Mundança
    <br />
    Com 14 anos me mudei para Jiparana  para estudar no Instituto Federal, eu vivi muitas coisas como
    valorizar os momentos importantes. Atualemente estou terminando o ensino médio e estou com planos de 
    começar uma faculdade. Porém não tenho certeza de qual faculdade..

</p>

<p>
    Meus gostos
    <br />
    - Gosto muito ouvindo música para mim isso é relaxante.
    <br />
    -Gosto de assistir filmes de fantasia
    <br />
    -Gosto de aprender coisas aleátorias
    <br />
    -Gosto de pratica Karate 
</p>
</div>
@code {
                                                                                                                                                      
}
